sudo: required
dist: trusty
langauge: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env: CXX=g++-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - clang-3.7
      env: CXX=clang-3.7

before_install:
  - sudo apt-get update -qq

# Build Steps
script:
  - echo $CXX
  - make --environment-overrides -C ${TRAVIS_BUILD_DIR}

after_success:
  - bash <(curl -s https://codecov.io/bash)
